# Ignore general files and directories
.venv/
venv/
.git/
.coveragerc
.coverage
coverage.xml
.github/
*.md
LICENSE*
docker-compose.*
compose.*
.codeclimate.yml
netlify.toml
/setup/
scripts
setup
client/.tmp/
client/node_modules/
plywood/node_modules/
plywood/client/node_modules/
viz-lib/node_modules/
.tmp/
.env.example
