# Ignore general files and directories
.*
.venv/
venv/
.git/
.coveragerc
.coverage
coverage.xml
.github/
*.md
LICENSE*
Dockerfile
docker-compose.*
.codeclimate.yml
docker-compose*.yml
netlify.toml
/setup/
scripts
setup
client/.tmp/
client/dist/
client/cypress/
client/node_modules/
plywood/server/node_modules/
plywood/server/client/node_modules/
node_modules/
viz-lib/node_modules/
.tmp/
