client/.tmp/
#client/dist/
client/node_modules/
#plywood/server
.dockerignore
plywood/server/node_modules/
plywood/server/client/node_modules/
node_modules/
viz-lib/node_modules/
.tmp/
.venv/
venv/
.git/
/.codeclimate.yml
/.coverage
/coverage.xml
/.circleci/
/.github/
/netlify.toml
/setup/
scripts
setup
