.venv
venv/
.cache
.coverage.*
.coveralls.yml
.idea
*.pyc
.coverage
coverage.xml
redash-client/dist
.DS_Store
.#*
\#*#
*~
_build
.vscode
.env

dump.rdb

node_modules
.tmp
.sass-cache
npm-debug.log

redash-client/cypress/screenshots
redash-client/cypress/videos
*.iml
